{% extends 'dashboard/account/base.html' %}
{% load widget_tweaks %}
{% load gravatar %}

{% block from %}
    <div class="tab-pane active">
        <div class="media">
            <a href="javascript: void(0);">
                <img src="{% gravatar_url user.email 64 %}"  class="rounded mr-75" alt="profile image" height="64" width="64">
            </a>
            <div class="media-body mt-25">
                <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                    <a href="https://gravatar.com/" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">Upload new photo</a>
                </div>
                <p class="text-muted ml-1 mt-50"><small>use Gravatar.com To set new Profile Picture</small></p>
            </div>
        </div>
        <hr>
        <form method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="controls">
                            <label class="{% if form.first_name.errors %}text-danger{% endif %}" for="{{ form.first_name.id_for_label }}">First Name</label>
                            {% render_field form.first_name|add_class:"form-control" placeholder="First Name" %}
                            {% for error in form.first_name.errors %}
                                <div class="text-danger small">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="controls">
                            <label class="{% if form.last_name.errors %}text-danger{% endif %}" for="{{ form.last_name.id_for_label }}">Last Name</label>
                            {% render_field form.last_name|add_class:"form-control" placeholder="Last Name" %}
                            {% for error in form.last_name.errors %}
                                <div class="text-danger small">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="controls">
                            <label class="{% if form.username.errors %}text-danger{% endif %}" for="{{ form.username.id_for_label }}">Username</label>
                            {% render_field form.username|add_class:"form-control" placeholder="Username" %}
                            {% for error in form.username.errors %}
                                <div class="text-danger small">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="control">
                            <label class="{% if form.email.errors %}text-danger{% endif %}" for="{{ form.email.id_for_label }}">Email</label>
                            {% render_field form.email|add_class:"form-control" placeholder="Email" %}
                            {% for error in form.email.errors %}
                                <div class="text-danger small">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                {% for error in form.non_field_errors %}
                    <div class="rounded bg-warning text-center text-white small" style="padding:4px;word-wrap: break-word">
                          <strong>&#9888;</strong> {{ error }}
                    </div>
                {% endfor %}
                </div>
                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                    <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">Save
                        changes</button>
                    <button type="reset" class="btn btn-light mb-1">Cancel</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
