{% extends 'dashboard/account/base.html' %}
{% load widget_tweaks %}

{% block from %}
    <div class="tab-pane active">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="controls">
                            <label class="{% if form.old_password.errors %}text-danger{% endif %}" for="{{ form.old_password.id_for_label }}">Old Password</label>
                            {% render_field form.old_password|add_class:"form-control" placeholder="Old Password" %}
                            {% for error in form.old_password.errors %}
                                <div class="text-danger small">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="controls">
                            <label class="{% if form.new_password1.errors %}text-danger{% endif %}" for="{{ form.new_password1.id_for_label }}">New Password</label>
                            {% render_field form.new_password1|add_class:"form-control" placeholder="New Password" %}
                            {% for error in form.new_password1.errors %}
                                <div class="text-danger small">
                                    {{ error }}
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="controls">
                            <label class="{% if form.new_password2.errors %}text-danger{% endif %}" for="{{ form.new_password2.id_for_label }}">Retype new Password</label>
                            {% render_field form.new_password2|add_class:"form-control" placeholder="Retype new Password" %}
                                {% for error in form.new_password2.errors %}
                                    <div class="text-danger small">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                    {% if form.new_password1.help_text %}
                    <div class="alert bg-rgba-warning alert-dismissible mt-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <p class="mb-0">
                            {{ form.new_password1.help_text|safe }}
                        </p>
                    </div>
                    {% endif %}

                </div>

                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                    <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">Save
                        changes</button>
                    <button type="reset" class="btn btn-light mb-1">Cancel</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
