[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
black = "==21.9b0"
python-dotenv = "*"
six = "*"
django-widget-tweaks = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"
