{% extends 'registration/base.html' %}
{% load static %}
{% load widget_tweaks%}
{% block title %}Reset password{% endblock %}

{% block Content %}
    <!-- reset password start -->
    <section class="row flexbox-container">
        <div class="col-xl-7 col-10">
            <div class="card bg-authentication mb-0">
                <div class="row m-0">
                    <!-- left section-login -->
                    <div class="col-md-6 col-12 px-0">
                        <div class="card disable-rounded-right d-flex justify-content-center mb-0 p-2 h-100">
                            <div class="card-header pb-1">
                                <div class="card-title">
                                    <h4 class="text-center mb-2">Reset your Password</h4>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    {% if validlink %}
                                    <form class="mb-2" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                                <label class="text-bold-600 {% if form.new_password1.errors %}text-danger{% endif %}" for="{{ form.new_password1.id_for_label }}">Password</label>
                                                {% render_field form.new_password1|add_class:"form-control" placeholder="password" %}
                                                {% for error in form.new_password1.errors %}
                                                    <div class="text-danger small">
                                                        &#215; {{ error }}
                                                    </div>
                                                {% endfor %}
                                        </div>
                                            <div class="form-group mb-2">
                                                <label class="text-bold-600 {% if form.new_password2.errors %}text-danger{% endif %}" for="{{ form.new_password2.id_for_label }}">Repeat Password</label>
                                                {% render_field form.new_password2|add_class:"form-control" placeholder="repeat password" %}
                                                {% for error in form.new_password2.errors %}
                                                    <div class="text-danger small">
                                                        &#215; {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        <button type="submit" class="btn btn-primary glow position-relative w-100">Reset my
                                            password<i id="icon-arrow" class="bx bx-right-arrow-alt"></i></button>
                                    </form>
                                    {% else %}
                                    <div class="text-center">
                                        Reset password link have been expired! please click on below button to reset.
                                    </div>
                                    <hr>
                                    <div class="d-flex flex-md-row flex-column justify-content-around">
                                        <a href="{% url 'account:password_reset' %}"
                                           class="btn btn-light-primary btn-block">
                                            <div class="pl-50 d-block text-center">Reset Password</div>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right section image -->
                    <div class="col-md-6 d-md-block d-none text-center align-self-center p-3">
                        <img class="img-fluid" src="{% static 'frest/images/pages/reset-password.png' %}" alt="branding logo">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- reset password ends -->
{% endblock %}
