{% extends 'registration/password_reset.html' %}
{% load static %}
{% block title %}
Email sent
{% endblock %}
{% block password_reset %}
<!-- password reset done start -->
<div class="card-header pb-1">
    <div class="card-title">
        <h4 class="text-center mb-2">Email Sent</h4>
    </div>
</div>
<div class="card-content">
    <div class="card-body">
        <div class="text-center text-bold-400">
            please check your email
        </div>
        <hr>
    </div>
</div>
<!-- password reset done end -->
{% endblock %}
