{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/pages/dashboard-analytics.css' %}">
{% endblock %}
{% block content %}
    <div class="content-header row">
    </div>
    <div class="content-body">
        <!-- Dashboard Analytics Start -->
        <section id="dashboard-analytics">
            <div class="row">
                <!-- Website Analytics Starts-->
                <div class="col-md-6 col-sm-12">
                    <!-- Column Chart -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">9 month ago</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div id="column-chart"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-3 col-md-6 col-sm-12 dashboard-referral-impression">
                    <div class="row">
                        <!-- Referral Chart Starts-->
                        <div class="col-xl-12 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body text-center pb-0">
                                        <h2>${{ balance|floatformat:2 }}</h2>
                                        <span class="text-muted">Balance</span>
                                        <div id="success-line-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Impression Radial Chart Starts-->
                        <div class="col-xl-12 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body text-center pb-0">
                                        <div class="badge-circle badge-circle-lg badge-circle-light-success mx-auto my-1">
                                            <i class="bx bx-purchase-tag font-medium-5"></i>
                                        </div>
                                        <p class="text-muted mb-0 line-ellipsis">Purchase</p>
                                        <h2 class="mb-0">{{ spent }}</h2>
                                        <a class="btn btn-outline-info mt-1 mb-1"
                                           href="{% url 'dashboard:expense:expense_list' %}">Info</a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-12 col-sm-12">
                    <div class="row">
                        <!-- Conversion Chart Starts-->
                        <div class="col-xl-12 col-md-6 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar bg-rgba-primary m-0 p-25 mr-75 mr-xl-2">
                                                    <div class="avatar-content">
                                                        <i class="bx bx-user text-primary font-medium-2"></i>
                                                    </div>
                                                </div>
                                                <div class="total-amount">
                                                    <h5 class="mb-0">${{ credit|floatformat:2 }}</h5>
                                                    <small class="text-muted">Credit</small>
                                                </div>
                                            </div>
                                            <div id="primary-line-chart"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar bg-rgba-danger m-0 p-25 mr-75 mr-xl-2">
                                                    <div class="avatar-content">
                                                        <i class="bx bx-dollar text-danger font-medium-2"></i>
                                                    </div>
                                                </div>
                                                <div class="total-amount">
                                                    <h5 class="mb-0">${{ debt|floatformat:2 }}</h5>
                                                    <small class="text-muted">Debt</small>
                                                </div>
                                            </div>
                                            <div id="danger-line-chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-6 col-12">
                            <div class="card text-center">
                                <div class="card-body">
                                    <div class="badge-circle badge-circle-lg badge-circle-light-primary mx-auto my-1">
                                        <i class="bx bx-money font-medium-5"></i>
                                    </div>
                                    <p class="text-muted mb-0 line-ellipsis">Wallet</p>
                                    <h2 class="mb-0">{{ request.user.wallet }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Activity Card Starts-->
                <div class="col-xl-3 col-md-6 col-12 activity-card" >
                    <div class="card text-center " style="height: 340.688px; vertical-align: middle">
                        <div class="card-header">
                            <h4 class="card-title float-left">Invitations</h4>
                        </div>
                        <div class="card-body">
                            <div class="font-medium-2 text-muted mb-0 line-ellipsis ">You have</div>
                            <div class="badge-circle badge-circle-lg badge-circle-light-warning mx-auto my-1">
                                <span class="warning h1 mt-1">{{ invitations }}</span>
                            </div>
                            <p class="text-muted mb-0 line-ellipsis">new Invitations</p>
                            <a class="btn btn-outline-warning mt-1" href="{% url 'dashboard:group:invite_list' %}">Check out</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Donut Chart</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div id="donut-chart" class="d-flex justify-content-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="card" style="height: 340.688px;">
                        <div class="card-header">
                            <h4 class="card-title">Invite Friend</h4>
                        </div>
                        <div class="card-body">
                            <form class="form" action="{% url 'dashboard:invite_friend' %}" method="post">
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            if you are enjoyed using <b>Bdong</b> please invite your friend to use
                                            Bdong.
                                        </div>
                                        <div class="col-12">
                                            <div class="form-label-group position-relative has-icon-left">
                                                <input type="email" id="email" class="form-control"
                                                       name="email" placeholder="Email">
                                                <div class="form-control-position">
                                                    <i class="bx bx-mail-send"></i>
                                                </div>
                                                <label for="email">Email</label>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end mb-5">
                                            <button type="submit" class="btn btn-primary mr-1">Submit</button>
                                            <button type="reset" class="btn btn-light-secondary">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Dashboard Analytics end -->
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/scripts/pages/dashboard-analytics.js' %}"></script>
    <script>
        $(window).on("load", function () {

            var $primary = '#5A8DEE';
            var $success = '#39DA8A';
            var $danger = '#FF5B5C';
            var $warning = '#FDAC41';
            var $info = '#00CFDD';
            var $label_color = '#475f7b';
            var $primary_light = '#E2ECFF';
            var $danger_light = '#ffeed9';
            var $gray_light = '#828D99';
            var $sub_label_color = "#596778";
            var $radial_bg = "#e7edf3";

            var themeColors = [$primary, $danger, $warning, $success, $info];
            var columnChartOptions = {
                chart: {
                    height: 350,
                    type: 'bar',
                },
                colors: themeColors,
                plotOptions: {
                    bar: {
                        horizontal: false,
                        endingShape: 'rounded',
                        columnWidth: '35%',
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 2,
                    colors: ['transparent']
                },
                series: [{
                    name: 'Share',
                    data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
                }, {
                    name: 'Paid',
                    data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
                }],
                legend: {
                    offsetY: -10
                },
                xaxis: {
                    categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
                },
                yaxis: {
                    title: {
                        text: '$ (hundred)'
                    }
                },
                fill: {
                    opacity: 1

                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return "$ " + val + " thousands"
                        }
                    }
                }
            }
            var columnChart = new ApexCharts(
                document.querySelector("#column-chart"),
                columnChartOptions
            );

            columnChart.render();

            // Donut Chart
            // ---------------------
            var donutChartOption = {
                chart: {
                    width: 300,
                    type: 'donut',
                },
                dataLabels: {
                    enabled: false
                },
                series: [{% for group_share in share_per_group %}{{ group_share.1 }}, {% endfor %}],
                labels: [{% for group_share in share_per_group %}"{{ group_share.0 }}",{% endfor %}],
                stroke: {
                    width: 0,
                    lineCap: 'round',
                },
                colors: [$primary, $info, $warning, $success, $gray_light],
                plotOptions: {
                    pie: {
                        donut: {
                            size: '90%',
                            labels: {
                                show: true,
                                name: {
                                    show: true,
                                    fontSize: '15px',
                                    colors: $sub_label_color,
                                    offsetY: 20,
                                    fontFamily: 'IBM Plex Sans',
                                },
                                value: {
                                    show: true,
                                    fontSize: '26px',
                                    fontFamily: 'Rubik',
                                    color: $label_color,
                                    offsetY: -20,
                                    formatter: function (val) {
                                        return val
                                    }
                                },
                                total: {
                                    show: true,
                                    label: 'Total',
                                    color: $gray_light,
                                    formatter: function (w) {
                                        return w.globals.seriesTotals.reduce(function (a, b) {
                                            return a + b
                                        }, 0)
                                    }
                                }
                            }
                        }
                    }
                },
                legend: {
                    show: false
                }
            }

            var donutChart = new ApexCharts(
                document.querySelector("#donut-chart"),
                donutChartOption
            );
            donutChart.render();

        });
    </script>
{% endblock %}
