{% load static %}
{% load active_link_tags %}
<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'dashboard:dashboard' %}">
                        <div class="brand-logo"><img class="logo" src="{% static 'assets/images/logo/loan.png' %}" /></div>
                        <h2 class="brand-text mb-0">Bdong</h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
                <li class="nav-item {% active_link 'dashboard:dashboard' strict=True %}">
                    <a href="{% url 'dashboard:dashboard' %}">
                        <i class="fa fa-cog fa-fw"></i>
                        <span class="menu-title" data-i18n="Dashboard">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item has-sub  {% active_link  'dashboard:group:create_group ||  dashboard:group:group_list || dashboard:group:invite_list' css_class='open sidebar-group-active'%}"><a href="#"><i class="fa fa-users fa-fw"></i><span class="menu-title" data-i18n="Card">Groups</span></a>
                    <ul class="menu-content">
                        <li class="{% active_link  'dashboard:group:create_group'%}"><a href="{% url 'dashboard:group:create_group' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Basic">Create</span></a>
                        </li>
                        <li class="{% active_link  'dashboard:group:group_list'%}"><a href="{% url 'dashboard:group:group_list' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Basic">Manage</span></a>
                        </li>
                        <li class="{% active_link  'dashboard:group:invite_list'%}"><a href="{% url 'dashboard:group:invite_list' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Basic">Invitations</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-sub  {% active_link  'dashboard:expense:add_expense || dashboard:expense:expense_list || dashboard:expense:accountancy' css_class='open sidebar-group-active'%}"><a href="#"><i class="fa fa-receipt fa-fw"></i><span class="menu-title" data-i18n="Card">Expenses</span></a>
                    <ul class="menu-content">
                        <li class="{% active_link  'dashboard:expense:add_expense'%}"><a href="{% url 'dashboard:expense:add_expense' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Basic">Add Expense</span></a>
                        </li>
                        <li class="{% active_link  'dashboard:expense:expense_list'%}"><a href="{% url 'dashboard:expense:expense_list' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Basic">Manage</span></a>
                        </li>
                        <li class="{% active_link  'dashboard:expense:accountancy'%}"><a href="{% url 'dashboard:expense:accountancy' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Basic">Accountancy</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item {% active_link 'dashboard:wallet:wallet' %}"><a href="{% url 'dashboard:wallet:wallet' %}"><i class="fa fa-wallet fa-fw"></i><span class="menu-title" data-i18n="Wallet">Wallet</span></a>
                </li>
                <li class="nav-item {% active_link 'dashboard:account_settings' %}"><a href="{% url 'dashboard:account_settings' %}"><i class="fa fa-user fa-fw"></i><span class="menu-title" data-i18n="Account Settings">Account Settings</span></a>
                </li>

            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->
