{% extends 'dashboard/base.html' %}

{% block title %}
    Group List
{% endblock %}
{% block content %}
    <div class="content-header row h1">
        Group list
    </div>
    <div class="content-body">
        <!-- users list start -->
        <section class="users-list-wrapper">
            <div class="users-list-table">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <!-- datatable start -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>id</th>
                                        <th>name</th>
                                        <th>creator</th>
                                        <th>created date</th>
                                        <th>action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for group in object_list %}
                                        <tr>
                                            <td data-toggle="collapse" data-target="#group{{ group.id }}"
                                                class="accordion-toggle">
                                                <button class="btn btn-default btn-xs"><i class="fa fa-eye fa-fw "></i>
                                                </button>
                                            </td>
                                            <td>{{ group.id }}</td>
                                            <td>{{ group.name }}</td>
                                            <td>{{ group.creator }}</td>
                                            <td>{{ group.created }}</td>
                                            <td>
                                                {% if request.user == group.creator %}
                                                    <a href="{% url 'dashboard:group:delete_group' group.pk %}"
                                                       class="btn btn-danger">Delete</a>
                                                {% else %}
                                                    <a href="{% url 'dashboard:group:leave_group' group.pk %}" class="btn btn-danger">Leave</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" class="hiddenRow" style="padding: 0 !important">
                                                <div class="accordian-body collapse" id="group{{ group.id }}">
                                                    <table class="table table-dark text-center">
                                                        <thead>
                                                        <tr>
                                                            <th>full name</th>
                                                            <th>user name</th>
                                                            <th>email</th>
                                                            <th>rule</th>
                                                            {% if request.user == group.creator %}
                                                                <th>action</th>
                                                            {% endif %}
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for member in group.members.all %}
                                                            <tr>
                                                                <td class="text-bold-500">{{ member.get_full_name }}</td>
                                                                <td>{{ member.username }}</td>
                                                                <td class="text-bold-500">{{ member.email }}</td>
                                                                <td>{% if member == group.creator %}creator{% else %}memeber{% endif %}</td>
                                                                {% if request.user == group.creator %}
                                                                    <td>
                                                                        {% if member != request.user %}
                                                                        <a href="{% url 'dashboard:group:remove_group_member' group.pk member.pk %}" class="btn btn-danger">Remove</a>
                                                                        {% endif %}
                                                                    </td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                        {#                                                        {% if request.user == group.creator %}#}
                                                        {#                                                         <tr>#}
                                                        {#                                                         <form  method="post" action=".">#}
                                                        {#                                                                {% csrf_token %}#}
                                                        {#                                                                <td colspan="4">#}
                                                        {#                                                                    {% csrf_token %}#}
                                                        {#                                                                    {{ form.email }}#}
                                                        {#                                                                </td>#}
                                                        {#                                                                <td colspan="1">#}
                                                        {#                                                                    <button type="submit" class="btn btn-success glow">#}
                                                        {#                                                                        Invite#}
                                                        {#                                                                    </button>#}
                                                        {#                                                                </td>#}
                                                        {#                                                            </form>#}
                                                        {#                                                        </tr>#}
                                                        {#                                                        {% endif %}#}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- datatable ends -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Group list ends -->
    </div>


{% endblock %}
