{% load django_htmx %}
{% django_htmx_script %}

<form class="form-horizontal" hx-post="{% url 'dashboard:group:invite_member' pk %}" hx-target="this" hx-swap="outerHTML">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="row form-row justify-content-between">
            <div class="col-md-12 col-sm-12 form-group">
                <label>{{ form.email.label }}</label>
                <div class="input-group">
                    {{ form.email }}
                    <div class="input-group-append">
                        <button class="btn btn-success add-form-row">+</button>
                    </div>
                </div>
                {% for error in form.email.errors %}
                    <div class="text-danger small form-group">
                        &#215; {{ error }}<br/>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <hr>
    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
        <button type="button" class="btn btn-warning glow mr-sm-1 mb-1" onclick="closeModal()">Close</button>
        <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">submit</button>
    </div>
</form>
